customtkinter
pyaudio
wave
tempfile
threading
requests
pyttsx3
speechrecognition
openai
Pillow
whisper
numpy
sounddevice
webrtcvad
fuzzywuzzy
python-dotenv
python-docx
docx2pdf
datetime
comtypes
winsound
